<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Via Whatsapp BOT</span>
    <a
      b-slate-link
      href="https://wa.me/6289675651893" target="_blank"
    >
      KawaiNime AI
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/tahaluindo/kawainimeaibang" target="_blank"
    >
      Github
    </a>
  </p>
</footer>
